# Deny access to .htaccess itself
<Files .htaccess>
Order allow,deny
Deny from all
</Files>

RewriteEngine On
RewriteBase /wst-ldds/

#RewriteRule ^([^.?]+)$ %{REQUEST_URI}/index.php [L]

RewriteRule ^home?$ index.php [L]
RewriteRule ^signup?$ login/signUp.html [L]
RewriteRule ^signup2?$ login/signUp_2.html [L]
RewriteRule ^event?$ events/ [L]
RewriteRule ^events?$ events/ [L]
RewriteRule ^events/search/(.+)$ events/event_info/index.php?b=$1 [QSA,L]
RewriteRule ^event/search/(.+)$ events/event_info/index.php?b=$1 [QSA,L]

# Disable directory browsing 
Options -Indexes

#Redirect to error page
DirectoryIndex index.php index.html error/index.php
ErrorDocument 403 /wst-ldds/error/
RewriteCond %{REQUEST_FILENAME} !-f  
RewriteCond %{REQUEST_FILENAME} !-d  
RewriteRule .* error [L] 