# Deny access to .htaccess
<Files .htaccess>
Order allow,deny
Deny from all
</Files>

RewriteEngine On
RewriteBase /wst-ldds/

#ErrorDocument 404 /wst-ldds/404/
RewriteRule ^home?$ index.php [L]
RewriteRule ^event?$ events [L]

# Disable directory browsing 
Options -Indexes

ErrorDocument 403 /wst-ldds/error/
RewriteCond %{REQUEST_FILENAME} !-f  
RewriteCond %{REQUEST_FILENAME} !-d  
RewriteRule .* error [L] 