# Deny access to .htaccess itself
<Files .htaccess>
Order allow,deny
Deny from all
</Files>

RewriteEngine On
RewriteBase /wst-ldds/

RewriteRule ^home?$ index.php [L]
RewriteRule ^event?$ events [L]

# Disable directory browsing 
Options -Indexes

ErrorDocument 403 /wst-ldds/error/
RewriteCond %{REQUEST_FILENAME} !-f  
RewriteCond %{REQUEST_FILENAME} !-d  
RewriteRule .* error [L] 