body{
    background-image: url('./images/about_us.png');
    background-size: cover;
}

p{
    font-family: cursive;
    font-size: xx-large;
    text-align: center;
    padding: 5px;
}

.abtus{
    width: 800px;
    height: 500px;
    background-color: white;
    margin: auto;

}

.back_main{
    margin-left: 100px;
}