/* Event List Page */
.events-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.event-box {
    border-radius: 10px;
    text-decoration: none;
    background: green;
    width: 500px;
}

.event-box > h3 {
    border-radius: 10px;
    letter-spacing: 2px;
    padding: 30px 20px 10px 20px;
    margin: 0;
    background: gray;
}

.event-box > .desc {
    padding: 10px;
}

.event-box > .deadline, .event-box > .slots-left {
    display: inline-block;
    padding: 25px;
    font-size: 20px;
}

.event-box > .slots-left {
    float: right;
}

/* Event Info Page */
.content {
    padding: 0 300px;
}

.event-info {
    position: relative;
    border-radius: 40px;
    color: black;
    background: white;
    padding: 40px 5%;
}

.person-in-charge {
    padding: 20px 0;
}

.person-in-charge > img {
    border-radius: 50%;
    width: 150px;
}

.person-in-charge > span {
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 100% 20px;
    font-size: 30px;
}

.event-img {
    display: inline-block;
    position: relative;
    width: 55%;
}

.event-img > img {
    width: 100%;
}

.event-details {
    float: right;
    width: 40%;
}

.event-details > .desc {
    font-size: 18px;
    padding-bottom: 50px;
}

.event-details > .slots-left, .event-details > .deadline {
    font-size: 25px;
    display: inline-block;
}

.event-details > .deadline {
    float: right;
}

.event-details > .register {
    width: 100px;
    height: 40px;
    padding: auto;
}