.edit-table {
    border: none;
}

.edit-table td {
    padding: 10px 0;
}

.edit-table .label {
    vertical-align: text-top;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}

.edit-table textarea {
    width: 400px;
    height: 100px;
    resize: none;
}

.edit-table input[type="text"], .edit-table select {
    width: 200px;
    height: 30px;
}

.edit-table input[type="date"], .edit-table input[type="time"] {
    margin-bottom: 10px;
}