body {
    background-image: url('./images/bg.svg');
    background-size: cover;
}

.banner {
    padding: 20px;
    background-color: black;
}

.banner img {
    width: 10%;
    padding: 0 30px;
}

.banner a {
    padding: 10px 30px;
    border-radius: 12px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
}

.banner a:hover {
    background-color: red;
}

/* Event Start */

.event_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content h2{
    color:white;
}

.holder{
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.holder .imgholder{
    margin: 0;
    padding: 0;
    max-width: 310px;
    height: 215px;
    position: relative;
    height: 420px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}

.holder .imgholder:hover{
    margin: 0;
    padding: 0;
    height: 450px;
}

.holder .imgholder .imgbox{
    margin: 0;
    padding: 0;
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.holder .imgholder .imgbox img{
    margin: 0;
    padding: 0;
    max-width: 100%;
    border-radius: 4px;
}

.holder .imgholder .paragraphs{
    margin: 0;
    padding: 0;
    position: relative;
    margin-top: -100px;
    padding: 10px 15px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition:  0.3s ease-in-out;
    color: black;
}

.holder .imgholder:hover .paragraphs{
    margin: 0;
    padding: 0;
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.25s;
}

.holder .imgholder:hover .option{
    margin: 0;
    padding: 0;
    visibility: visible;
    opacity: 2;
    width: 25px;
    left: 91%;
    transition-delay: 0.25s;
}

.option{
    display: flex;
    visibility: hidden;
    flex-wrap: wrap;
    cursor: pointer;
    width: 25px;
    left: 91%;
    position: relative;
}

.event_delete{
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 50;
    visibility: hidden;
}

.edit{
    background-color: grey;
    width: 100px;
    height: 60px;
    margin-left: 180px;
    margin-bottom: 340px;
    text-align: center;
    border-radius: 5px;
    z-index: 3;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
    font-family: sans-serif;
    visibility: hidden;
}

.Edit{
    cursor: pointer;
}

.dlt{
    cursor: pointer;
}

.event_delete_text {
    position: absolute; /*Set to center ignoring the button's margin*/
}

.event_delete_button {
    margin-top: auto; /*Set to bottom*/
    margin-left: auto; /*Set to right*/
    margin-right: 1%; /*distance from right*/
}

.event_delete>p{
    padding: 75px 0;
}

.event_delete_window{
    position: absolute;
    top: calc((100% - 25%) /2); 
    left: calc((100% - 35%) /2);
    background-color: darkgray;
    width: 35%;
    height: 25%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 51;
}

.tick{
    width: 40px;
    height: 40px;
    cursor: pointer;
    /* position */
}

.cross{
    width: 40px;
    height: 40px;
    cursor: pointer;
}