html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: url(../style/images/background.png);
    background-size: cover;
    overflow: hidden;
}

div.box {
    /* width: 30%;
    height: 75%;
    background-color: #242424;
    position: relative;
    text-align: center;
    margin: auto;
    top: 15%; */

    width: -moz-available;
    width: -webkit-fill-available;
    height: 100%;
    background-color: #242424;
    position: relative;
    text-align: center;
    margin: auto;
    /* top: 15%; */
    /* max-height: 90%; */
    max-height: 800px;
    max-width: 500px;
}

img.back {
/*     position: relative;
    float: left;
    max-width: 7%;
    max-height: 7%;
    top: 5%;
    left: 5%; */
    
    width: 7%;
}

img.back:hover {
    cursor: pointer;
}

img.back:active
{
    transform: translateY(2px);
}

img.lock {
    /* position: relative;
    max-width: 15%;
    max-height: 15%;
    left: -5%;
    top: 10%; */
    
    width: 15%;
    padding: 2rem;
}

.forgetPassword1 {
    /* position: relative;
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
    top:15%; */

    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
}

.input-container {
    /* position: relative;
    top: 25%; */
}

#email, #email2 {
    /* position: relative;
    top: 30%;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    background-color: #363636;
    border: none;
    padding: 10px; */

    height: 100%;
    border: none;
}

#email::placeholder, #email2::placeholder {
    color: rgba(255, 255, 255, 0.753);
    font-weight: 550;
    font-size: large;
}

#email:focus, #email2:focus {
    outline: none;
}

.nextBtn1 {
    background: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
    border-radius: 45px;
    width: 45%;
    height: 7%;
    /* position: relative; */
    top: 40%;
    border: none;
    color: white;
    font-size: large;
    font-weight: 600;
    background-size: 200% auto;
    transition: 0.5s;
}

.nextBtn2 {
    background: linear-gradient(to right, #43F66A 0%, #2A96FA  100%);
    border-radius: 45px;
    width: 45%;
    height: 7%;
    position: relative;
    top: 40%;
    border: none;
    color: white;
    font-size: large;
    font-weight: 600;
    background-size: 200% auto;
    transition: 0.5s;
}

.nextBtn3 {
    background: linear-gradient(to right, #35E2B9 0%, #BE6EFD  100%);
    border-radius: 45px;
    width: 45%;
    height: 7%;
    position: relative;
    top: 40%;
    border: none;
    color: white;
    font-size: large;
    font-weight: 600;
    background-size: 200% auto;
    transition: 0.5s;
}



input[type=submit]:hover {
    cursor: pointer;
    background-position: right center; 
    /* Glowing effect */
    /* box-shadow: 0 0 20px #eee;  */
}

input.nextBtn1:active {
    transform: translateY(3px);
}