@font-face {
    font-family: "Roboto";
    src: url("/wst-ldds/login/LDDS-wfont/roboto-medium-webfont.woff") format("woff");
    font-family: "Roboto Light";
    src: url("/wst-ldds/login/LDDS-wfont/roboto-light-webfont.woff") format("woff");
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: url(../style/images/background.png);
    background-size: cover;
    overflow: hidden;
}

div.box {
    /* width: 30%;
    height: 75%;
    background-color: #242424;
    position: relative;
    text-align: center;
    margin: auto;
    top: 15%; */

    width: -moz-available;
    width: -webkit-fill-available;
    height: 100%;
    background-color: #242424;
    position: relative;
    text-align: center;
    margin: auto;
    /* top: 15%; */
    /* max-height: 90%; */
    max-height: 800px;
    max-width: 500px;
}

img.back {
/*     position: relative;
    float: left;
    max-width: 7%;
    max-height: 7%;
    top: 5%;
    left: 5%; */
    
    width: 7%;
}

img.back:hover {
    cursor: pointer;
}

img.back:active
{
    transform: translateY(2px);
}

img.lock {
    /* position: relative;
    max-width: 15%;
    max-height: 15%;
    left: -5%;
    top: 10%; */
    
    width: 15%;
    padding: 2rem;
}

.forgetPassword1 {
    /* position: relative;
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
    top:15%; */
    font-size: 1.9rem;
    font-weight: 700;
    color: #fff;
    font-family: "Roboto Light";
    background-image: linear-gradient(180deg, white, rgb(245 245 245 / 32%));
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    height: 3.75rem;
}

.input-container {
    /* position: relative;
    top: 25%; */
}

#email, #email2 {
    /* position: relative;
    top: 30%;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    background-color: #363636;
    border: none;
    padding: 10px; */

    height: 100%;
    border: none;
}

#email::placeholder, #email2::placeholder {
    color: rgba(255, 255, 255, 0.753);
    font-weight: 550;
    font-size: large;
}

#email:focus, #email2:focus {
    outline: none;
}

.nextBtn1 {
    background: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
    border-radius: 45px;
    width: 45%;
    height: 7%;
    /* position: relative; */
    top: 40%;
    border: none;
    color: white;
    font-size: large;
    font-weight: 600;
    background-size: 200% auto;
    transition: 0.5s;
}

.nextBtn2 {
    background: linear-gradient(to right, #43F66A 0%, #2A96FA  100%);
    border-radius: 45px;
    width: 45%;
    height: 7%;
    position: relative;
    margin: 0 auto;
    border: none;
    color: white;
    font-size: large;
    font-weight: 600;
    background-size: 200% auto;
    transition: 0.5s;
}

.nextBtn3 {
    background: linear-gradient(to right, #35E2B9 0%, #BE6EFD  100%);
    border-radius: 45px;
    width: 45%;
    height: 7%;
    position: relative;
    margin: 0 auto;
    border: none;
    color: white;
    font-size: large;
    font-weight: 600;
    background-size: 200% auto;
    transition: 0.5s;
}

.nextBtn4 {

background: linear-gradient(115deg, #616aef94 0%, #ff0000 89.58%);

border-radius: 30px;

position: relative;

margin: auto;

border: none;

color: white;

font-size: large;

font-weight: 600;

font-family: "Roboto Light";

background-size: 200% auto;

width: 14rem;

height: 4rem;

transition: 0.5s;
}

button:hover {
    cursor: pointer;
    background-position: right center; 
    /* Glowing effect */
    /* box-shadow: 0 0 20px #eee;  */
}

button:active {
    transform: translateY(3px);
}