body {
    background: url('./images/bg.svg') fixed;
    background-size: cover;

    overflow-x: hidden;
    overflow-y: overlay;
}

.hidden-scrollbar::-webkit-scrollbar {
    width: 0 !important;
 }

*::-webkit-scrollbar
{
    width: 4px;
}

*::-webkit-scrollbar-track
{
    border-radius: 100px;
}

*::-webkit-scrollbar-thumb
{
    background-color: #303030;
    border-radius: 100px;
}

.content {
    padding: 0 80px;
    color: white;
}

.content h1 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

/* Home Start */


.home-comm
{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.home-comm > h1 {
    color: white;
    text-transform: uppercase;
    transform: translateY(20rem);
    font-size: 3.2rem;
}

.home-comm .comm-desc
{
    background-color: #d26515;
    transform: skewY(-10deg) translate(-100px, 200px);
    width: 100%;
    padding: 20px 90px;
}

.home-comm .comm-desc > p
{
    color: white;
    transform: skewY(9deg);
    margin: 70px 10px;
    width: 675px;
    font-size: 1.2rem;
}

.home-comm .comm-disp
{
    margin-left: 600px;
    width: 600px;
    transform: translateX(250px) translateY(-300px);
    max-height: 500px;
}

.home-comm .comm-disp > img
{
    max-width: 450px;
    max-height: 450px;
}

.home-comm .more-comm-info
{
    transform: translate(50px, -170px);
}

.home-comm .more-comm-info > a
{
    padding: 20px 50px;
    background: linear-gradient(180deg, #62FDA0 0%, #00FFD1 100%);
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-size: 1.75rem;
}

.home-comm .more-comm-info >a:hover
{
    background: linear-gradient(180deg, #3cf384 0%, #00826a 100%);
}

.home-event
{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.home-event h1
{
    color: white;
    text-transform: uppercase;
    transform: translate(70rem, 30rem);
    font-size: 3.2rem;
}

.home-event .event-desc
{
    display: flex;
    background-color: #d22315;
    transform: skewY(10deg) translate(100px, 330px);
    width: 100%;
    padding: 20px 90px;
    justify-content: flex-end;
}

.home-event .event-desc > p
{
    color: white;
    transform: skewY(-9deg);
    margin: 70px 10px;
    width: 675px;
    font-size: 1.2rem;
}

.home-event .event-disp
{
    width: 600px;
    max-height: 500px;
    margin-right: 400px;
    transform: translate(-90px, -200px);
}

.home-event .event-disp > img
{
    max-width: 450px;
    max-height: 450px;
}

.home-event .more-event-info
{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    transform: translateY(-35px);
}

.home-event .more-event-info > a
{
    padding: 20px 50px;
    background: linear-gradient(180deg, #DFACAC 0%, #F14747 100%);
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-size: 1.75rem;
}

.home-event .more-event-info >a:hover
{
    background: linear-gradient(180deg, #ff0000 0%, #723232 100%);
}
/* Home End */

/* Committee Start */

.committee {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.committee-box {
    border-radius: 20px;
    background: linear-gradient(to bottom, #0070ff 85%, #090979);
    width: 500px;
}

.committee-box img {
    border-radius: 20px;
    width: 100%;
}

.committee-info {
    padding: 10px 20px;
}

.committee-info h3 {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.committee-info span {
    font-size: 18px;
}

/* Committee End */

/* Event Start */

.holder{
    margin: 0;
    padding: 0;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.holder .imgholder{
    margin: 0;
    padding: 0;
    max-width: 310px;
    height: 215px;
    position: relative;
    height: 420px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}

.holder .imgholder:hover{
    margin: 0;
    padding: 0;
    height: 450px;
}

.holder .imgholder .imgbox{
    margin: 0;
    padding: 0;
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.holder .imgholder .imgbox img{
    margin: 0;
    padding: 0;
    max-width: 100%;
    border-radius: 4px;
}

.holder .imgholder .paragraphs{
    margin: 0;
    padding: 0;
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition:  0.3s ease-in-out;
    color: black;
}

.holder .imgholder:hover .paragraphs{
    margin: 0;
    padding: 0;
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.25s;
}


.event_list{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.event {
    min-width: 400px;
}

.event_info_top{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* width: 200px; */
    height: 50px;
    background-color: #05326b
    ;
}

.event_info_btm{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    /* width: 200px; */
    height: 180px;
    background-color: #386b5a;
}

.event_info_top span{
    top: 20px;
    left: 3px;
    position: relative;
}

.option{
    cursor: pointer;
    width: 25px;
    left: 290px;
    top: 5px;
    position: relative;
}

.event_delete{
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 50;
    visibility: hidden;
}

.event_delete_window{
    position: absolute;
    top: calc((100% - 25%) /2); 
    left: calc((100% - 35%) /2);
    background-color: darkgray;
    width: 35%;
    height: 25%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 51;
}

.event_delete_text {
    position: absolute; /*Set to center ignoring the button's margin*/
}

.event_delete_button {
    margin-top: auto; /*Set to bottom*/
    margin-left: auto; /*Set to right*/
    margin-right: 1%; /*distance from right*/
}

.event_delete>p{
    padding: 75px 0;
}

.tick{
    width: 40px;
    height: 40px;
    cursor: pointer;
    /* position */
}

.cross{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.edit{
    background-color: #0070ff;
    width: 100px;
    height: 60px;
    margin-left: 280px;
    margin-top: 25px;
    text-align: center;
    border-radius: 5px;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
    font-family: sans-serif;
    visibility: hidden;
}

.Edit{
    cursor: pointer;
}

.dlt{
    cursor: pointer;
}

.event_details{
    width: 1020px;
    height: 550px;
    margin: auto;
    background-color: white;
}

.pro_pic{
    margin-left: 30px;
    margin-top: 20px;
}

.person{
    color: blue;
    font-size: large;
    margin-left: 15px;
    padding: 25px;
}

.view_member{
    cursor: pointer;
    margin-left: 15px;
}

.photo{
    width: 500px;
    height: 300px;
    z-index: 1;
    margin-top: 50px;
    margin-left: 100px;
}
.prog_details{
    margin-left: 150px;
}

.join_event{   
    padding: 15px;
}


.deadline{
    left: 0px;
}

.join{
    right: 0;
}


/* Event End */

/* Student Info*/
.stud_info{

    margin: auto;
    width: 900px;
    height: 400px;
    background-color: white;
}

.pic{
    margin-left: 30px;
    margin-top: 20px;
}

.name{
    padding: 15px;
}

.stud_id{
    padding: 15px;
}

.pro_icon{
    display: flex;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-left: 94%;
    margin-top: -100px;
}

.info{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 50px;
    margin-left: 30px;
}

.cross_tick{
    margin: auto;
    width: 10px;
    height: 10px;
}

/* Footer Start */

.footer {
    text-align: center;
    color: white;
}

/* Footer End */