body {
    background-image: url('./images/bg.svg');
    background-size: cover;
}

/* Banner Start */

.banner {
    padding: 20px;
    background-color: black;
}

.banner img {
    width: 10%;
    padding: 0 30px;
}

.banner a {
    padding: 10px 30px;
    border-radius: 12px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
}

.banner a:hover {
    background-color: red;
}

/* Banner End */

.content {
    padding: 0 80px;
    color: white;
}

.content h1 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

/* Home Start */

div.carousel-container {
    position: relative;
    width: 75%;
    height: 50%;
    margin: auto;
}

div.carousel-item {
    animation: carousel-fade 1.0s;
}

div.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: opacity 0.5s;
}

div.carousel-item a:hover > img {
    opacity: 0.8;
}

div.caption-box {
    opacity: 0;
    position: absolute;
    margin: 40px 5px;
    top: 0;
    width: 25%;
    height: 81%;
    padding: 0 25px;
    border-radius: 10px;
    background-color: rgba(64, 64, 64, 0.75);
    color: white;
    line-height: 30px;

    transition: background-color 0.5s;
}

div.carousel-item a:hover > div.caption-box {
    background-color: rgba(64, 64, 64, 0.9);
}

div.prev, div.next {
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: 48%;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);

    transition: 0.3s background-color ease;
}

div.prev {
    left: 0;
    border-radius: 0 20% 20% 0;
}

div.next {
    right: 0;
    border-radius: 20% 0 0 20%;
}

div.prev:hover, div.next:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

div.page-indicator {
    padding: 5px 2px;
}

div.page-indicator > span.dot {
    cursor: pointer;
    user-select: none;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;

    transition: 0.4s background-color ease;
}

div.page-indicator > .dot:hover, div.page-indicator > span.active {
    background-color: blue;
}

div.fade-left {
    animation: caption-fade-left 0.5s 0.7s forwards;
}

div.fade-right {
    animation: caption-fade-right 0.5s 0.7s forwards;
}

@keyframes carousel-fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes caption-fade-left {
    from {
        opacity: 0;
        left: 0;
    }
    to {
        opacity: 1;
        left: 70px;
    }
}

@keyframes caption-fade-right {
    from {
        opacity: 0;
        right: 0;
    }
    to {
        opacity: 1;
        right: 70px;
    }
}

/* Home End */

/* Committee Start */

.committee {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.committee-box {
    border-radius: 20px;
    background: linear-gradient(to bottom, #0070ff 85%, #090979);
    width: 500px;
}

.committee-box img {
    border-radius: 20px;
    width: 100%;
}

.committee-info {
    padding: 10px 20px;
}

.committee-info h3 {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.committee-info span {
    font-size: 18px;
}

/* Committee End */

/* Event Start */

.event_list{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.event {
    min-width: 400px;
}

.event_info_top{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* width: 200px; */
    height: 50px;
    background-color: #05326b
    ;
}

.event_info_btm{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    /* width: 200px; */
    height: 180px;
    background-color: #386b5a;
}

.event_info_top span{
    top: 20px;
    left: 3px;
    position: relative;
}

.option{
    cursor: pointer;
    width: 25px;
    left: 290px;
    top: 5px;
    position: relative;
}

.event_delete{
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 50;
    visibility: hidden;
}

.event_delete_window{
    position: absolute;
    top: calc((100% - 25%) /2); 
    left: calc((100% - 35%) /2);
    background-color: darkgray;
    width: 35%;
    height: 25%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 51;
}

.event_delete_text {
    position: absolute; /*Set to center ignoring the button's margin*/
}

.event_delete_button {
    margin-top: auto; /*Set to bottom*/
    margin-left: auto; /*Set to right*/
    margin-right: 1%; /*distance from right*/
}

.event_delete>p{
    padding: 75px 0;
}

.tick{
    width: 40px;
    height: 40px;
    /* position */
}

.cross{
    width: 40px;
    height: 40px;
}

.edit{
    background-color: #0070ff;
    width: 100px;
    height: 60px;
    margin-left: 280px;
    margin-top: 25px;
    text-align: center;
    border-radius: 5px;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
    font-family: sans-serif;
    visibility: hidden;
}

.edit_edit{
    cursor: pointer;
}

.edit_delete{
    cursor: pointer;
}

.event_details{
    width: 1020px;
    height: 550px;
    margin: auto;
    background-color: white;
}

.pro_pic{
    margin-left: 30px;
    margin-top: 20px;
}

.person{
    color: blue;
    font-size: large;
    margin-left: 15px;
    padding: 25px;
}

.view_member{
    cursor: pointer;
    margin-left: 15px;
}

.photo{
    width: 500px;
    height: 300px;
    z-index: 1;
    margin-top: 50px;
    margin-left: 100px;
}
.prog_details{
    margin-left: 150px;
}

.join_event{   
    padding: 15px;
}


.deadline{
    left: 0px;
}

.join{
    right: 0;
}
/* Event End */

/* Student Info*/
.stud_info{

    margin: auto;
    width: 900px;
    height: 400px;
    background-color: white;
}

.pic{
    margin-left: 30px;
    margin-top: 20px;
}

.name{
    padding: 15px;
}

.stud_id{
    padding: 15px;
}

.pro_icon{
    display: flex;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-left: 94%;
    margin-top: -100px;
}

.info{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 50px;
    margin-left: 30px;
}

.cross_tick{
    margin: auto;
    width: 10px;
    height: 10px;
}
/* Footer Start */

.footer {
    text-align: center;
    color: white;
}

/* Footer End */