.profile {
    margin: 10px 50px;
    padding: 30px 110px;
    border-radius: 20px;
    color: black;
    background: white;
}

.heading {
    
}

.heading > img {
    width: 180px;
    border-radius: 50%;
}

.heading-info {
    padding: 0 40px;
    display: inline-block;
}

.information {
    padding: 50px 0;
}

.information > table {
    font-size: 25px;
}

.information > table td {
    padding: 10px 0;
}

.information > table .data {
    font-weight: bolder;
    text-align: right;
}

.information > table .value {
    padding: 0 50px;
}

.value {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 18px;
}

span .edit_profile{
    display: inline-block;
    position: absolute;
    right: 150px;
    margin-top: 5px;
    width: 40px;
    height: 40px;
    border: 0;
    background-color: white;
    cursor: pointer;
}

span .edit_profile:hover{
    display: inline-block;
    position: absolute;
    right: 150px;
    margin-top: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 0;
    background-color: #D9D9D9;
    transition: 0.05s all ease;
}

.choose_photo{
    padding: 20px 10px;
    /* visibility: hidden; */
    display: none;
}

.delete_button input{
    display: inline-block;
    position: absolute;
    right: 350px;
    padding: 0 15px;
    margin-top: -10px;
    background-color: #ff5252;
    color: white;
    width: 75px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    border: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.reset_button input{
    display: inline-block;
    position: absolute;
    right: 260px;
    padding: 0 15px;
    margin-top: -10px;
    background-color: #848484;
    color: white;
    width: 75px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    border: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.submit_button input{
    display: inline-block;
    position: absolute;
    right: 155px;
    padding: 0 15px;
    margin-top: -10px;
    background-color: #39FF2F;
    width: 85px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    border: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.button_info{
    display: none;
}

table tr td input{
    border: none;
    background: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 18px;
}

/* table tr td input[type="text" i]:disabled {
    border: none !important;
}

table tr td input[type="text" i] {
    border-style: solid;
    border-width: thin;
    border-color: black;
    text-align: center;
    border-radius: 10px;
} */

#pfp {
    display: none;
}