@font-face {
    font-family: "Roboto";
    src: url("LDDS-wfont/roboto-medium-webfont.woff") format("woff");
}

body
{
    background-color: #171717;
    height: 100vh;
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

body span
{
    color: rgba(255, 255, 255, 0.5);
}

.logincontainer
{
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    justify-self: flex-start;
    height: 100vh;
    width: 100vw;
    background: #000000;
    padding-left: 120px;
}

.logincontainer .signup > a
{
    color: red;
}

.logincontainer .signup > a:hover
{
    color:#ff1fff;
}

#label 
{
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    margin: 100px;
}

.logincontainer form .user-details .inputbox input
{
    display: flex;
    flex-wrap: wrap;
    /* Behind username */
    margin-left: 95px;
    width: 325px;
    height: 42px;
    align-self: center;
    background: #242424;
    border-radius: 20px;
    border: #000000;
    padding: 6px;
    padding-left: 25px;
    color: white;
    font-size: medium;
}

.inputbox input:focus
{
    outline: none;
}

::placeholder
{
    font-size: 16px;
    color:rgba(255, 255, 255, 0.651);
}

.button input
{
    margin-top: 65px;
    margin-left: 95px;
    max-width: 350px;
    width: 100%;
    height: 50px;
    background: linear-gradient(125deg, #f26e66, #d15fe3);
    border-radius: 20px;
    font-size: 139%;
    font-family: "Roboto";
    font-weight: bold;
    color: #ff9c09;
    border: #000000;
}


.button input:hover
{
    background: linear-gradient(125deg, #fdb4ae, #e28cff);
    color: #ee8f00;
    cursor: pointer;
}


.remember
{
    margin-top: 25px;
    margin-left: 100px;
}

.signup
{
    font-family: "Roboto";
    margin-left: 130px;
    color: rgba(255, 255, 255, 0.466);
}

.signup a
{
    font-weight: bold;
    margin-left: 10px;
}

.logincontainer form .user-details
{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#fgtpwd
{
    display: flex;
    align-content: center;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 120px;
    flex-wrap: wrap;
    position: relative;
}

#fgtpwd a
{
position: absolute;
width: 198px;
height: 30px;
color: gray;
font-family: Roboto;
font-style: normal;
line-height: 26px;
text-decoration: none;
}

#fgtpwd a:hover
{
    color: rgb(185, 185, 185);
}

.logo
{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    align-content: center;
    justify-content: flex-end;
    height: 60px;
}

.logo img
{
    width: 90px;
    height: 50px;
    position: static;
    padding-right: 20px;
}